body {
    margin: 0;
    background-image: url(../images/Food-background.jpg);
    background-size: cover;
}

/* .form-group {
    background: rgba(248, 248, 248, 0.5); /* Grey background with 0.5 opacity 
    padding: 10px 30px 10px 30px; 
} */

/* #wrapper {
    background: rgba(248, 248, 248, 0.5); /* Grey background with 0.5 opacity 
    border: solid;
    padding: 10px;
    font-size: 40px;
    display: flex;

} */

.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;

}

button {
    margin: 15px;
    padding: 5px;
    font-size: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


#answerBlock {
  text-align: center;

}

#questionBlock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

#start {
    visibility: visible;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: darkolivegreen;
    font-family: 'Open Sans', sans-serif;
}


h1 {
  text-align: center;
  color: white;
  font-family: 'Charmonman', cursive;
  padding: 20px;
  font-size: 70px;
}


h2, h4 {
  margin: 30px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #403fd3;
  height: 500px;
  width: 75%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -150px;
}